<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>미팅삭제</title>
    <!-- 부트스트랩 CSS 링크 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	    <script th:inline="javascript">
        /*<![CDATA[*/
        function showPopup() {
            alert("미팅 신청이 삭제되었습니다.");
        }
        /*]]>*/
    </script>
    <style>
            body {
            background-color: #f2f2f2; /* 회색 배경색 */
        }
        </style>
</head>

<body>
	
    <div th:insert="thymeleaf/th_top_menu :: test_top_menu"></div>
    <div class="container">
        <h2>미팅신청</h2>
        <form th:action="@{/date/deleteOK}" method="post" onsubmit="showPopup()">
            <div class="form-group">
            <label for="receiverRealName"><span th:text="${vo2.receiverRealName}"></span>님과의 미팅신청을 삭제하시겠습니까?</label>
            <input type="hidden" class="form-control" id="num" name="num" th:value="${vo2.num}" required>
            </div>
            <button id="btn" type="submit" class="btn btn-danger">삭제하기</button>
        </form>
    </div>
</body>
</html>