<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 정보</title>
    <!-- 부트스트랩 CSS 링크 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* 사용자 정보 페이지 스타일 */
        .container {
            margin-top: 50px;
        }
        .btn-link {
            margin-bottom: 10px;
            display: block;
        }
    </style>
</head>
<body>
	<div th:insert="thymeleaf/th_top_menu :: test_top_menu"></div>
    <div class="container">
        <h2>사용자 페이지</h2>
        
        <!-- 로그인 링크 -->
        <div th:if="${username}">
			<a th:href="@{/user/logout}" class="btn btn-link">로그아웃</a>
        </div>
        <div th:unless="${username}">
			 <a th:href="@{/user/login}" class="btn btn-link">로그인</a>
        </div>
        
     
        <!-- 정보 수정 링크 -->
        <a th:href="@{/user/info}" class="btn btn-link">정보 수정</a>
        <a th:href="@{/}" class="btn btn-link">뒤로 가기</a>
        

    </div>
    <div th:replace="thymeleaf/th_footer :: test_copyParam('Serendi date','010-0000-0000')">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
