<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f2f2f2; /* 회색 배경색 */
        }

        .user-card {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            width: 460px;
            height: 670px;
            background-color: #fff; /* 카드 배경색 */
            background-image: url('/images/my_card5.png');
            background-size: cover;
            padding-left: 50px;
			padding-top: 150px;
        }
    </style>
    </style>
</head>
<body>
	<div th:replace="thymeleaf/th_top_menu :: test_top_menu"></div>
<div class="container">
		<div class="input-form-backgroud row">
			<div class="input-form col-md-12 mx-auto">
				<h4 class="mb-3">[[${title}]]</h4>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">프로필사진</th>
							<th scope="col">ID</th>
							<th scope="col">성별</th>
							<th scope="col">PW</th>
							<th scope="col">NAME</th>
							<th scope="col">TEL</th>
							<th scope="col">REGDATE</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="vo : ${vos}">
							<tr>
								<th scope="row"><a th:href="|/meeting/register?num=${vo.num}|"><span>[[${vo.num}]]</span></a></th>
								<td><img th:src="@{'/files/' + ${vo.save_name}}" alt="Image"></td>
								<td><a th:href="|/meeting/register?num=${vo.num}|"><span
										th:text="${vo.username}"></span></a></td>
								<td><span th:text="${vo.gender}"></span></td>
								<td><span th:text="${vo.pw}"></span></td>
								<td><span th:text="${vo.realname}"></span></td>
								<td><span th:text="${vo.tel}"></span></td>
								<td><span th:text="${vo.regdate}"></span></td>
									<td><a th:href="|m_delete?num=${vo.num}|"><span>선택</span></a></td>
							</tr>
						</th:block>
					</tbody>
				</table>
				
			</div>
		</div>
	</div>

</body>
</html>

