<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
        /* Footer의 스타일을 정의합니다. */
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            text-align: center;
            padding: 10px 0;
        }
	</style>
</head>
<body>


<footer style="background-color: white;" th:fragment="test_copyParam(param1, param2)" class="footer-container text-center text-small">
<div class="container">
  <div class="row">
	  	
        <div class="col"><a th:href="@{/}" class="nav-link"><img src="/images/home_icon.png"></a></div>
        <div class="col" th:if="${session.username}"><a th:href="@{/user/logout}" class="nav-link"><img src="/images/logout_icon.png"></a></div>
        <div class="col" th:unless="${session.username}"><a th:href="@{/user/login}" class="nav-link"><img src="/images/login_icon.png"></a></div>
        <div class="col"><a th:href="@{/user}" class="nav-link"><img src="/images/mypage_icon.png"></a></div>
        <div class="col"><a th:href="@{/meeting}" class="nav-link"><img src="/images/meeting_icon2.png"></a></div>
    </div>
</div>
</footer>

