<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>thymeleaf</title>

	<link href="/css/main.css" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</head>

<body>
	<!-- 	thymeleaf폴더명/th_top_menu확장자뺀파일명 :: test_top_menu조각명 -->
	<div th:insert="thymeleaf/th_top_menu :: test_top_menu"></div>
	
	<img src="/images/main_image.png" width="100%">
	
	<div th:if="${username}">
        <p>Welcome, <span th:text="${username}"></span>!</p>
    </div>
    <div th:unless="${username}">
        <p>Please log in</p>
    </div>

	<div th:replace="thymeleaf/th_footer :: test_copyParam('Serendi date','010-0000-0000')">
	
</body>

</html>